body{
    background-image: url(konyv_hatter.jpg);
    background-repeat: repeat;
    background-size: 500px 500px;
}

#keret{
    background-color: #ca8;
    width: 720px;
    margin: auto;
    border: #eca solid 2px;
}

.konyv{
    background-color: #eca;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;

}

.borito{
    width: 120px;
    float: left;
}

.szoveg{
    margin-left: 140px;
}

#otlet{
    text-transform: uppercase;
}

#jack{
    font-size: large;
}

p{
    text-align: justify;
    margin: 20px 20px 20px 20px;
}