body{
    background-image: url(konyv_hatter.jpg);
    background-repeat: repeat;
    background-size: 500px 500px;
}

#keret{
    background-color: #ca8;
    width: 720px;
    margin: auto;
    border: #eca solid 3px;
}

.konyv{
    background-color: #eca;
    margin: 0px 20px 20px 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px #432;
}

.borito{
    width: 120px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    border: rgb(209, 207, 76) solid 2px;
    box-shadow: 5px 5px 10px #432;
}

.szoveg{
    margin-left: 160px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#otlet{
    text-transform: uppercase;
}

#jack{
    font-size: large;
}

p{
    text-align: justify;
    margin: 20px 20px 20px 20px;
    font-style: italic;
}

#cim{
    text-align: center;
}

#cim2{
    text-align: center;
}

.book{
    float: right;
    height: 140px;
    margin-right: 20px;
    margin-top: 30px;
}

.spanom{
    font-weight: bold;
}

.link{
    text-align: right;
}

.button{
    background-color: rgb(173, 118, 62);
    float: right;
    margin-right: 20px;
    
}